.favouriteRecipes__container {
    position: absolute;
    right: 40%;
    box-sizing: border-box;
    text-align: center;
    background: rgba(68, 68, 68, 0.75);
    border-bottom: 1px solid rgb(45, 1, 146);
    box-shadow: 3px 3px 6px;
    transition: all .3s ease-in-out;
}

.favouriteRecipes__title {
    margin: 5px auto 10px auto;
    font-size: 1.5rem;
    color: black;
    text-shadow: 0px 0px 2px white;
}

.favouriteRecipes__recipeList {
    margin: 0 auto;
    min-width: 50px;
    width: 90%;
    text-align: left;
}

.favouriteRecipes__emptyList {
    position: absolute;
    top: 20%;
    left: calc(50% - 100px);
    width: 200px;
    color: wheat;
    font-size: 1.5em;
}

.favouriteRecipes__container--active {
    animation: showFavouriteRecipes .4s forwards;
}

.favouriteRecipes__container--noActive {
    animation: hideFavouriteRecipes .3s forwards;
}

@keyframes showFavouriteRecipes {
    0% {
        overflow: hidden;
        right: 40%;
        width: 0%;
        height: 0;
        padding: 0;
    }

    35% {
        width: 20%;
        height: 0;
        padding: 0;
    }

    75% {
        right: 40%;
        width: 20%;
        height: 700px;
        padding: 20px 5px 20px 5px;
    }

    100% {
        right: 0%;
        width: 100%;
        height: 700px;
        padding: 20px 5px 20px 5px;
        overflow: auto;

    }
}

@keyframes hideFavouriteRecipes {
    0% {
        width: 100%;
        height: 500px;
        padding: 20px 5px 20px 5px;
        overflow: hidden;
    }

    35% {
        width: 20%;
        height: 500px;
        padding: 20px 5px 20px 5px;
        ;
    }

    55% {
        width: 20%;
        height: 0;
        padding: 0;
    }

    100% {
        width: 0%;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
}

@media(min-width: 575px) {

    .favouriteRecipes__recipeList {
        width: 40%;
    }

}