.searchRcipe__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px auto;
    background: rgba(68, 68, 68, 0.75);
    border-bottom: 1px solid rgb(45, 1, 146);
    height: auto;
    width: 90%;
    opacity: 0;
    height: 0;
    padding: 0;
}

.searchRcipe__recipeList {
    width: 90%;
}

.searchRcipe__container {
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.searchRcipe__container--active {
    animation: showSearchRecipe .4s forwards;

}

.searchRcipe__container--noActive {
    animation: hideSearchRecipe .3s forwards;
}

.searchRcipe__noRecipeContent {
    display: none
}

.searchRcipe__recipeDetails {
    display: none;
}

.searchRcipe__recipeDetailsSlider {
    display: block;
    /* right: -100%; */
}

.searchRcipe__loadingContainer {
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    width: 90%;
    height: 50px;
    animation: loadingAnimation infinite 2s;
}

@keyframes showSearchRecipe {
    0% {
        overflow: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
    }

    35% {
        opacity: 0;
        height: 0;
        padding: 0;
    }

    55% {
        opacity: 0;
        width: 20%;
        height: 500px;
        padding: 20px 5px 20px 5px;
    }

    100% {
        opacity: 1;
        overflow: visible;
        left: 0%;
        width: 100%;
        height: auto;
        padding: 20px 5px 20px 5px;
    }
}

@keyframes hideSearchRecipe {
    0% {
        opacity: 1;
        width: 100%;
        padding: 20px 5px 20px 5px;
    }

    35% {
        opacity: 0;
        overflow: visible;
        padding: 20px 5px 20px 5px;
        ;
    }

    55% {
        height: 500px;
        width: 20%;
        height: 0;
        padding: 0;
    }

    100% {
        opacity: 0;
        overflow: hidden;
        width: 0%;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

@keyframes loadingAnimation {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.9)
    }

    100% {
        transform: scale(1)
    }
}

@media(min-width: 575px) {
    .searchRcipe__recipeList {
        width: 40%;
    }

    .searchRcipe__recipeDetails {
        display: block;
        width: 45%;
    }

    .searchRcipe__noRecipeContent {
        display: block;
        position: fixed;
        top: 250px;
        width: 45%;
        margin: 0 auto;
        color: wheat;
        text-shadow: black 15px 10px 5px;
        animation: noRecipeDetailAnimation infinite 5s;
    }

    .searchRcipe__recipeDetailsSlider {
        display: none
    }

    .searchRcipe__loadingContainer {
        padding: 100px;
        font-size: 2rem;
        width: 500px;
        height: 500px;
        animation: loadingAnimation infinite 2s;
    }
}

@keyframes noRecipeDetailAnimation {
    0% {
        transform: scale(1)
    }

    42% {
        transform: scale(1)
    }

    46% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(1);
    }

    /* 53% {
        color: wheat
    } */

    55% {
        transform: scale(1.4);
        /* color: red */
    }

    /* 65% {
        color: wheat
    } */

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1)
    }
}