.purchaseList__container {
    position: absolute;
    right: 20%;
    box-sizing: border-box;
    overflow: hidden;
    background: grey;
    transition: all .3s ease-in-out;
}

.purchaseList__container--active {
    animation: showPurchaseList .4s forwards;

}

.purchaseList__container--noActive {
    animation: hidePurchaseList .3s forwards;


}

@keyframes showPurchaseList {
    0% {
        right: 20%;
        width: 0%;
        height: 0;
        padding: 0;
    }
    35%{
        width: 20%;
        height: 0;
        padding: 0;
    }

    75%{
        right: 20%;
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }

    100%{
        right: 0%;
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }
}

@keyframes hidePurchaseList {
    0% {
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }
    35%{
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;;
    }

    55%{
        width: 20%;
        height: 0;
        padding: 0;
    }

    100%{
        width: 0%;
        height: 0;
        padding: 0;
    }
}