.purchaseList__container {
    position: absolute;
    right: 20%;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(68, 68, 68, 0.75);
    border-bottom: 1px solid rgb(45, 1, 146);
    box-shadow: 3px 3px 6px;
    transition: all .3s ease-in-out;
}

.purchaseList__container--active {
    animation: showPurchaseList .4s forwards;

}

.purchaseList__container--noActive {
    animation: hidePurchaseList .3s forwards;
}

.purchaseList__button {
    box-sizing: content-box;
    margin: 20px;
    padding: 10px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(45, 1, 146);
    box-shadow: 1px 1px 10px rgb(45, 1, 146);
}

@keyframes showPurchaseList {
    0% {
        right: 20%;
        width: 0%;
        height: 0;
        padding: 0;
    }

    35% {
        width: 20%;
        height: 0;
        padding: 0;
    }

    75% {
        right: 20%;
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }

    100% {
        right: 0%;
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }
}

@keyframes hidePurchaseList {
    0% {
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }

    35% {
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;
        ;
    }

    55% {
        width: 20%;
        height: 0;
        padding: 0;
    }

    100% {
        width: 0%;
        height: 0;
        padding: 0;
    }
}