.recipe__block {
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 20px 0 20px 0;
    box-shadow: 3px 5px 5px;
    transition: all .2s ease-in-out;
}

.recipe__block--noActive:hover {
    box-shadow: 3px 5px 15px;
    transform: scale(1.02)
}

.recipe__block--active {
    box-shadow:  rgba(79, 7, 246, .4) 0 0 10px;
    border-color: rgba(79, 7, 246, .6);
    transform: scale(1.02)
}

.receipe__label {
    color: rgba(79, 7, 246, 1);
    cursor: default;
    margin: 0 2px;
    font-size: .8em;
}

.recipe__img{
    width:90%;
    max-width: 350px;
    min-width: 100px
}