.recipeDetail__block {
    position: sticky;
    top: 200px;
    color: whitesmoke
}

.recipeDetail__ingredient {
    position: relative;
    width: 90%;
    margin: 15px auto;
    cursor: pointer
}

.recipeDetail__button {
    margin: 5px auto;
    padding: 5px;
    border: 1px brown solid;
    border-radius: 5px;
    transition: all .2s linear;
}

.recipeDetail__button:hover {
    border: 1px gold solid;
    background: rgb(246, 235, 172)
}

.recipeDetail__ingredient:hover {
    background: rgba(192, 192, 192, 0.644)
}

.recipeDetail__ingredient::before {
    position: absolute;
    left: 0;
    content: '';
    bottom: 0;
    width: 0%;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}

.recipeDetail__ingredient:hover::before {
    width: 100%;
    border-bottom: 1px solid rgb(204, 117, 3);
}

.recipeDetail_confirmation {
    height: 30px;
    width: 200px;
    padding: 10px 0 0 0;
    background: rgba(192, 192, 192, 0.144);
    margin: 20px auto 0 auto;
    text-decoration: underline wavy orange;
    border: 1px black solid;
    border-radius: 0 5px 0 5px;
}