.footer__container {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgb(115,113,113);
    background: linear-gradient(0deg, rgba(115,113,113,1) 0%, rgba(115,113,113,1) 34%, rgba(143,134,158,1) 70%, rgb(101, 96, 110) 88%, rgba(91,84,107,1) 100%);
    z-index: 100;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}