.logo__container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(63deg, rgba(191, 173, 227, 0.9444152661064426) 0%, rgba(139, 179, 167, 1) 59%, rgba(140, 210, 206, 1) 100%);
    background-image: url('../../Assets/logobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo__header {
    margin: 5px 20px;
    letter-spacing: 2px;
    color: whitesmoke;
}

.logo__firstLetter {
    color: rgb(204, 117, 3);
    font-size: 1.15em;
}

.logo__icon {
    display: none;
}

@media (min-width: 575px) {
    .logo__container {
        flex-direction: row
    }

    .logo__header {
        margin: 35px 20px;
    }

    .logo__icon {
        display: block;
        margin: 0;
        height: 70px;
        width: 70px;
        padding: 20px
    }
}