.logo__container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column
}

.logo__header {
    margin: 5px 20px;
    letter-spacing: 2px;
}

.logo__firstLetter {
    color: rgb(79, 7, 246);
    font-size: 1.15em;
}

.logo__icon {
    margin: 0 auto;
    height: 70px;
    width: 70px;
    padding: 10px
}

@media (min-width: 500px) {
    .logo__container {
        flex-direction: row
    }

    .logo__header {
        margin: 35px 20px;
    }

    .logo__icon {
        margin: 0;
        padding: 20px
    }
}