.modal {
    z-index: 990;
    position: fixed;
    background: wheat;
    border: 1px soild black;
    width:300px;
    height: 400px;
    overflow: auto;
    top: -100%;
    left: -100%;
    transition: all .3s;
}

.modal--show{
    top: calc(50% - 200px);
    left: calc(50% - 150px);
}