.contactForm__container {
    position: absolute;
    right: 0%;
    box-sizing: border-box;
    overflow: hidden;
    background: grey;
    transition: all .3s ease-in-out;
}

.contactForm__container--active {
    animation: showContactForm .4s forwards;

}

.contactForm__container--noActive {
    animation: hideContactForm .3s forwards;


}

@keyframes showContactForm {
    0% {
        width: 0%;
        height: 0;
        padding: 0;
    }
    35%{
        width: 20%;
        height: 0;
        padding: 0;
    }

    75%{
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }

    100%{
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }
}

@keyframes hideContactForm {
    0% {
        width: 100%;
        height: 500px;
        padding: 50px 5px 20px 5px;
    }
    35%{
        width: 20%;
        height: 500px;
        padding: 50px 5px 20px 5px;;
    }

    55%{
        width: 20%;
        height: 0;
        padding: 0;
    }

    100%{
        width: 0%;
        height: 0;
        padding: 0;
    }
}